/*use-itty-bitty-template*/
body {background: #ececec;}
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #ccc;
  color: #3F51B5;
  padding-bottom: 8px
}
.container {
  margin: auto;
  width: 350px;
  text-align: center;
}
.listFlex {display: flex; justify-content: center;}

img {
  width: 100%;
}